In [2]:
import requests
import json
import urllib.request
import pandas as pd
import ast

In [3]:
# Header for API
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYmMwMDBjMGE5YzZjZmNkMDYxYWIyN2EzMjA1YjM0NiIsInN1YiI6IjY2NDRlMzUzM2YwMGEzYTg5YjViZDFkMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._E0exiVUWU6c_FyyCeGdqQpaOM_tFDreyWlV6bmclPk"
}

In [121]:
response_details_merge = pd.read_csv('../data/Data - respondents details merge.csv')
response_details_merge.drop(columns='Unnamed: 0', inplace=True)
response_details_merge

,id_x,person_mbti,mbti_test,character,movie,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,michaelcaloz.com,Tony Stark,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,michaelcaloz.com,Rocket Raccoon,Guardians of the Galaxy Vol. 3,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,michaelcaloz.com,Captain America,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,michaelcaloz.com,Peter Parker,Spider-Man: Far From Home,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,michaelcaloz.com,Hobie Brown,Spider-Man: Across the Spider-Verse,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,123,ENFP,michaelcaloz.com,Agent Smith,The Matrix,The Matrix,"[28, 878]",603,575.344,1999-03-31,The Matrix,8.215,24874
701,123,ENFP,michaelcaloz.com,Daniel Plainview,There Will Be Blood,There Will Be Blood,[18],7345,36.996,2007-12-26,There Will Be Blood,8.084,6345
702,123,ENFP,michaelcaloz.com,Eraserhead Baby,Eraserhead,Eraserhead,"[14, 27]",985,67.775,1978-02-03,Eraserhead,7.400,2300
703,123,ENFP,michaelcaloz.com,Patrick Bateman,American Psycho,American Psycho,"[53, 18, 80]",1359,84.339,2000-04-13,American Psycho,7.404,10461
704,123,ENFP,michaelcaloz.com,The Duke,Fear and Loathing in Las Vegas,Fear and Loathing in Las Vegas,"[12, 18, 35]",1878,43.774,1998-05-19,Fear and Loathing in Las Vegas,7.200,4433

In [5]:
# try_df = response_details_merge.head()
# try_df = try_df.drop(['mbti_test', 'movie'], axis=1)
# try_df

,id_x,person_mbti,character,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,Tony Stark,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,Rocket Raccoon,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,Captain America,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,Peter Parker,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,Hobie Brown,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265

In [6]:
# filtered_df = try_df[try_df['genre_ids'].apply(lambda x: '16' in x)]
# filtered_df

,id_x,person_mbti,character,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
4,0,ENFP,Hobie Brown,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265

In [7]:
# try_df['movie_year'] = try_df['new_title'].astype(str) + ' (' + try_df['release_date'].astype(str).str[:4] + ')'
# try_df

,id_x,person_mbti,character,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count,movie_year
0,0,ENFP,Tony Stark,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867,Avengers: Endgame (2019)
1,0,ENFP,Rocket Raccoon,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262,Guardians of the Galaxy Vol. 3 (2023)
2,0,ENFP,Captain America,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867,Avengers: Endgame (2019)
3,0,ENFP,Peter Parker,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144,Spider-Man: Far From Home (2019)
4,0,ENFP,Hobie Brown,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265,Spider-Man: Across the Spider-Verse (2023)

In [122]:
characters_mbti_df = pd.read_csv('../data/Data - Movie Characters MBTI clean.csv')
# survey_responses_df.drop(columns='Unnamed: 0', inplace=True)
characters_mbti_df

                          char                   movie  mbti  votes
0                Guido Anselmi                   8 1/2  INTP     57
1      King Leonidas of Sparta                     300  ENTJ    460
2                    Artemisia                     300  ENTJ    127
3                       Xerxes                     300  INTJ    103
4                        Gorgo                     300  INFJ     62
...                        ...                     ...   ...    ...
10720                  Gazelle         Zootopia (2016)  ESFP    107
10721              Mr. Manchas         Zootopia (2016)  ISFJ     40
10722              Doug Ramses         Zootopia (2016)  INTP     30
10723                   Travis         Zootopia (2016)  ESTP     27
10724             Alexis Zorba  Zorba the Greek (1964)  ENFP     39

[10725 rows x 4 columns]

In [ ]:
# recorded_chars = []
# recorded_movies = []
# missing_chars = []
# missing_movies = []

# # Define the column headers
# columns = ['char', 'movie', 'mbti', 'votes']

# # Create an empty DataFrame with only headers
# new_df = pd.DataFrame(columns=columns)

# def char_mbti_search(char_find, movie_find):
#     bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
#     if bool_series.any():
#         index = bool_series.idxmax()  # Or use bool_series[bool_series].index for all matches
#         print(index)
#         recorded_chars.append(char_find)
#         recorded_movies.append(movie_find)
#         new_row = characters_mbti_df.loc[index]  
#         return new_row
#     else:
#         # print(f"No match found for character '{char_find}' in movie '{movie_find}'")
#         missing_chars.append(char_find)
#         missing_movies.append(movie_find)
#         return None

# for i in range(len(response_details_merge)):
#     char_i = str(response_details_merge['character'][i])
#     movie_i = str(response_details_merge['movie'][i])
#     # print(type(char_i), movie_i)
#     new_row = char_mbti_search(char_i, movie_i)
#     try:
#         new_df = pd.concat([new_df, new_row.to_frame().T], ignore_index=True)
#     except:
#         pass

In [9]:
# new_df

,char,movie,mbti,votes
0,Peter Parker “Spider-Man”,The Amazing Spider-Man Duology,ISTP,2700
1,Bella Baxter,Poor Things,ENTP,781
2,Johnny English,Johnny English (2003),ENTP,95
3,Neo,The Matrix Trilogy,INTP,1600
4,J. Robert Oppenheimer,Oppenheimer (2023),INTJ,2200
...,...,...,...,...
230,Neville Longbottom,Harry Potter / Wizarding World Films,ISFJ,1400
231,Miles Morales “Spider-Man”,Spider-Man: Into the Spider-Verse (2018),ISFP,3400
232,Agent Smith,The Matrix Trilogy,INTJ,584
233,Daniel Plainview,There Will Be Blood (2007),ENTJ,774
234,Patrick Bateman,American Psycho (2000),ENTJ,8100

In [10]:
# print("found: ", len(recorded_chars))
# print("not found:", len(missing_chars))

found:  235
not found: 470

In [ ]:
# for i in range(len(recorded_chars)):
#     print(recorded_chars[i], "  from  ", recorded_movies[i])

In [ ]:
# for i in range(len(missing_chars)):
#     print(missing_chars[i], "  from  ", missing_movies[i])

In [ ]:
# sample = char_mbti_search('Iron Man', 'MCU')
# sample

# new_df = pd.concat([new_df, sample.to_frame().T], ignore_index=True)

# new_df

In [88]:
# def fetch_characters_in_franchise(franchise_name): 
#     franchise_characters_mbti_df = characters_mbti_df[characters_mbti_df['movie']==franchise_name]
#     franchise_characters_mbti_df

#     franchise_chars = list(franchise_characters_mbti_df['char'])

#     retain_chars = 'a-zA-Z0-9\s\-'

#     chars_in_franchise = pd.DataFrame({'char': franchise_chars, 'movie': 'MCU'})
#     chars_in_franchise['char'] = chars_in_franchise['char'].str.replace(f'[^{retain_chars}]', '', regex=True)
#     return chars_in_franchise

## Getting the movie details

In [11]:
list_of_franchise_movies = pd.read_csv('../data/Data - list of franchised movies.csv', encoding='unicode_escape')
list_of_franchise_movies

,franchise,movie
0,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street (1984)
1,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 2: Freddy's Revenge ...
2,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 3: Dream Warriors (1...
3,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 4: The Dream Master ...
4,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 5: The Dream Child (...
...,...,...
405,X-Men Cinematic Universe (2011-2020),X-Men: Days of Future Past (2014)
406,X-Men Cinematic Universe (2011-2020),X-Men: Apocalypse (2016)
407,X-Men Cinematic Universe (2011-2020),Dark Phoenix (2019)
408,Zombieland (Franchise),Zombieland (2009)
409,Zombieland (Franchise),Zombieland: Double Tap (2019)

In [89]:
class expanding_movies_to_cast:
    def __init__(self, input):
        self.input = input
        self.movie_list_in_franchise = None
        self.franchise_dict_list = []
        self.failed_list = []
        self.franchise_movie_id_list = []
        self.franchise_details_df = None
        self.char = None

    def append_to_franchise_movies_list(self, item):
        self.franchise_dict_list.append(item)

    def append_to_failed_list(self, item):
        self.failed_list.append(item)

    def fetch_characters_in_franchise(self): 
        franchise_characters_mbti_df = characters_mbti_df[characters_mbti_df['movie']==self.input]

        franchise_chars = list(franchise_characters_mbti_df['char'])
        chars_mbti = list(franchise_characters_mbti_df['mbti'])

        retain_chars = 'a-zA-Z0-9\s\-'

        chars_in_franchise = pd.DataFrame({'char': franchise_chars, 'movie': self.input, 'mbti': chars_mbti})
        chars_in_franchise['char'] = chars_in_franchise['char'].str.replace(f'[^{retain_chars}]', '', regex=True)
        return chars_in_franchise
    
    def fetch_movies_in_franchise(self):
        self.movie_list_in_franchise = list(list_of_franchise_movies[list_of_franchise_movies['franchise']==self.input]['movie'])   
        try:
            self.movie_list_in_franchise = [movie.replace('\xa0', ' ') for movie in self.movie_list_in_franchise]
        except:
            pass
        return self.movie_list_in_franchise
    
    def fetch_movie_details(self):
        franchise_dict_list = []
        failed_list = []
        for i, title in enumerate(self.movie_list_in_franchise):
            try:
                title_replace = title.replace(' ', '+')
                split_title = title_replace.split('+(', maxsplit=1)
                title_part = split_title[0]
                year_part = split_title[1].replace(')', '')
                
                url = 'https://api.themoviedb.org/3/search/movie?query=' + title_part + '&year=' + year_part + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'
            except:
                url = 'https://api.themoviedb.org/3/search/movie?query=' + title + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'

            try:
                response = requests.get(url, headers=headers)
                data = response.json()

                # While data above is a dictionary, it contains more dictionaries within it, so narrow down
                movie_data = data['results'][0]
                # print(i, movie_data['title'])
                self.append_to_franchise_movies_list(movie_data)
            except:
                self.append_to_failed_list(title)
                # print(i, 'Failed fetching ', split_title[0], len(failed_list))
        return self.franchise_dict_list, self.failed_list
    
    def franchise_movies_pipeline(self):
        franchise_details_df = pd.DataFrame(data=self.franchise_dict_list)
        franchise_details_df.drop(columns=['adult', 'backdrop_path', 'original_language', 'original_title', 'overview', 'poster_path', 'video'], inplace=True)
        self.franchise_movie_id_list = list(franchise_details_df['id'])
        return franchise_details_df
    
    def get_chars_in_movie_id_list(self):
        cast_dict_list = []
        dict_list = []
        for movie_id in self.franchise_movie_id_list:
            url = 'https://api.themoviedb.org/3/movie/' + str(movie_id) + '/credits?language=en-US'
            response = requests.get(url, headers=headers)
            data = response.json()
            cast_len = len(data['cast'])
            movie_id_dict = {'movie_id': movie_id}
            for cast in range(cast_len):
                new_cast = data['cast'][cast]
                new_cast.update(movie_id_dict)
                cast_dict_list.append(data['cast'][cast])
        franchise_cast_df = pd.DataFrame(data=cast_dict_list)
        franchise_cast_drop_df = franchise_cast_df.drop(columns=['adult', 'original_name', 'profile_path', 'credit_id', 'order', 'cast_id'])
        return franchise_cast_drop_df

    def franchise_cast_merge_pipeline(self):
        franchise_cast_df = self.get_chars_in_movie_id_list()
        franchise_details_df = self.franchise_movies_pipeline()
        franchise_cast_details_merged = franchise_details_df.merge(franchise_cast_df, how='outer', left_on='id', right_on='movie_id')
        franchise_cast_details_dropped = franchise_cast_details_merged[franchise_cast_details_merged['known_for_department']=='Acting']
        return franchise_cast_details_dropped

In [90]:
mcu = expanding_movies_to_cast('MCU')
mcu_df = mcu.fetch_characters_in_franchise()
mcu.fetch_movies_in_franchise()
mcu.fetch_movie_details()
mcu_details = mcu.franchise_movies_pipeline()
mcu.get_chars_in_movie_id_list()
mcu_cast_merged = mcu.franchise_cast_merge_pipeline()

In [91]:
mcu_df

                               char movie  mbti
0                    Loki Laufeyson   MCU  INFJ
1               Tony Stark Iron Man   MCU  ENTP
2      Wanda Maximoff Scarlet Witch   MCU  INFP
3    Stephen Strange Doctor Strange   MCU  INTJ
4                      Thor Odinson   MCU  ESTP
..                              ...   ...   ...
217                     Julius Dell   MCU  ESTP
218              Dimitri Smerdyakov   MCU  ISTP
219                  Leonard Samson   MCU  INTP
220                           Soren   MCU  ISFJ
221                 Mitchell Carson   MCU  ESTP

[222 rows x 3 columns]

In [82]:
mcu_details

,genre_ids,id,popularity,release_date,title,vote_average,vote_count
0,"[28, 878, 12]",1726,148.010,2008-04-30,Iron Man,7.644,25749
1,"[878, 28, 12]",1724,71.337,2008-06-12,The Incredible Hulk,6.209,11433
2,"[12, 28, 878]",10138,385.362,2010-04-28,Iron Man 2,6.800,20457
3,"[12, 14, 28]",10195,89.160,2011-04-21,Thor,6.769,20646
4,"[28, 12, 878]",1771,63.189,2011-07-22,Captain America: The First Avenger,6.999,20916
5,"[878, 28, 12]",24428,170.413,2012-04-25,The Avengers,7.713,30043
6,"[28, 12, 878]",68721,196.317,2013-04-18,Iron Man 3,6.928,21689
7,"[28, 12, 14]",76338,92.119,2013-10-30,Thor: The Dark World,6.500,16873
8,"[28, 12, 878]",100402,48.300,2014-03-20,Captain America: The Winter Soldier,7.700,18289
9,"[28, 878, 12]",118340,49.576,2014-07-30,Guardians of the Galaxy,7.908,27437
10,"[28, 12, 878]",99861,127.074,2015-04-22,Avengers: Age of Ultron,7.272,22441
11,"[878, 28, 12]",102899,77.391,2015-07-14,Ant-Man,7.079,19276
12,"[12, 28, 878]",271110,131.706,2016-04-27,Captain America: Civil War,7.442,22179
13,"[28, 12, 14]",284052,313.219,2016-10-25,Doctor Strange,7.422,21597
14,"[878, 12, 28]",283995,86.618,2017-04-19,Guardians of the Galaxy Vol. 2,7.621,21040
15,"[28, 12, 878, 18]",315635,235.453,2017-07-05,Spider-Man: Homecoming,7.300,21225
16,"[28, 12, 878]",284053,427.377,2017-10-02,Thor: Ragnarok,7.593,20216
17,"[28, 12, 878]",284054,371.386,2018-02-13,Black Panther,7.385,21675
18,"[12, 28, 878]",299536,268.872,2018-04-25,Avengers: Infinity War,8.246,28898
19,"[28, 12, 878]",363088,46.056,2018-07-04,Ant-Man and the Wasp,6.941,12924
20,"[28, 12, 878]",299537,480.110,2019-03-06,Captain Marvel,6.824,15273
21,"[12, 878, 28]",299534,201.184,2019-04-24,Avengers: Endgame,8.300,24886
22,"[28, 12, 878]",429617,95.628,2019-06-28,Spider-Man: Far From Home,7.429,15156
23,"[28, 12, 878]",497698,340.187,2021-07-07,Black Widow,7.256,9810
24,"[28, 12, 14]",566525,125.294,2021-09-01,Shang-Chi and the Legend of the Ten Rings,7.559,9013
25,"[878, 28, 12]",524434,70.540,2021-11-03,Eternals,6.880,7951
26,"[28, 12, 878]",634649,220.354,2021-12-15,Spider-Man: No Way Home,7.967,19398
27,"[14, 28, 12]",453395,100.325,2022-05-04,Doctor Strange in the Multiverse of Madness,7.305,8631
28,"[14, 28, 35]",616037,161.716,2022-07-06,Thor: Love and Thunder,6.468,7166
29,"[28, 12, 878]",505642,178.211,2022-11-09,Black Panther: Wakanda Forever,7.100,6139
30,"[28, 12, 878]",640146,86.197,2023-02-15,Ant-Man and the Wasp: Quantumania,6.300,4678
31,"[878, 12, 28]",447365,146.955,2023-05-03,Guardians of the Galaxy Vol. 3,7.973,6273
32,"[878, 12, 28]",609681,326.804,2023-11-08,The Marvels,6.148,2315

In [83]:
mcu_cast_merged

,genre_ids,id_x,popularity_x,release_date,title,vote_average,vote_count,gender,id_y,known_for_department,name,popularity_y,character,movie_id
0,"[878, 28, 12]",1724,71.337,2008-06-12,The Incredible Hulk,6.209,11433,2,819,Acting,Edward Norton,44.870,Bruce Banner / The Hulk,1724
1,"[878, 28, 12]",1724,71.337,2008-06-12,The Incredible Hulk,6.209,11433,1,882,Acting,Liv Tyler,49.690,Betty Ross,1724
2,"[878, 28, 12]",1724,71.337,2008-06-12,The Incredible Hulk,6.209,11433,2,3129,Acting,Tim Roth,37.497,Emil Blonsky / Abomination,1724
3,"[878, 28, 12]",1724,71.337,2008-06-12,The Incredible Hulk,6.209,11433,2,227,Acting,William Hurt,23.722,General 'Thunderbolt' Ross,1724
4,"[878, 28, 12]",1724,71.337,2008-06-12,The Incredible Hulk,6.209,11433,2,1462,Acting,Tim Blake Nelson,32.798,Samuel Sterns,1724
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,"[28, 12, 878]",640146,86.197,2023-02-15,Ant-Man and the Wasp: Quantumania,6.300,4678,1,1717900,Acting,Loveday Smith,5.276,Janet Van Dyne Acting Double,640146
2423,"[28, 12, 878]",640146,86.197,2023-02-15,Ant-Man and the Wasp: Quantumania,6.300,4678,0,3909172,Acting,John Townsend,0.181,Lord Krylar Acting Photo Double,640146
2424,"[28, 12, 878]",640146,86.197,2023-02-15,Ant-Man and the Wasp: Quantumania,6.300,4678,2,91606,Acting,Tom Hiddleston,45.459,Loki (uncredited),640146
2425,"[28, 12, 878]",640146,86.197,2023-02-15,Ant-Man and the Wasp: Quantumania,6.300,4678,2,887,Acting,Owen Wilson,89.523,Mobius M. Mobius (uncredited),640146
2426,"[28, 12, 878]",640146,86.197,2023-02-15,Ant-Man and the Wasp: Quantumania,6.300,4678,1,1360010,Acting,Abby Ryder Fortson,31.818,Cassie Lang (archive footage) (uncredited),640146

In [60]:
def fetch_movies_in_franchise(franchise_name):
    return list(list_of_franchise_movies[list_of_franchise_movies['franchise']=='MCU']['movie'])

In [61]:
mcu_movie_list = fetch_movies_in_franchise('MCU')
mcu_movie_list

['Iron Man (2008)',
 'The Incredible Hulk (2008)',
 'Iron Man 2 (2010)',
 'Thor (2011)',
 'Captain America: The First Avenger (2011)',
 'The Avengers (2012)',
 'Iron Man 3 (2013)',
 'Thor: The Dark World (2013)',
 'Captain America: The Winter Soldier (2014)',
 'Guardians of the Galaxy (2014)',
 'Avengers: Age of Ultron (2015)',
 'Ant-Man (2015)',
 'Captain America: Civil War (2016)',
 'Doctor Strange (2016)',
 'Guardians of the Galaxy Vol. 2 (2017)',
 'Spider-Man: Homecoming (2017)',
 'Thor: Ragnarok (2017)',
 'Black Panther (2018)',
 'Avengers: Infinity War (2018)',
 'Ant-Man and the Wasp (2018)',
 'Captain Marvel (2019)',
 'Avengers: Endgame (2019)',
 'Spider-Man: Far From Home (2019)',
 'Black Widow (2021)',
 'Shang-Chi and the Legend of the Ten Rings (2021)',
 'Eternals (2021)',
 'Spider-Man: No Way Home (2021)',
 'Doctor Strange in the Multiverse of Madness (2022)',
 'Thor: Love and Thunder (2022)',
 'Black Panther: Wakanda Forever (2022)',
 'Ant-Man and the Wasp: Quantumania (2023)',
 'Guardians of the Galaxy Vol. 3 (2023)',
 'The Marvels (2023)']

In [89]:
def fetch_movie_details(franchise_movies_list):
    franchise_dict_list = []
    failed_list = []
    for i, title in enumerate(franchise_movies_list):
        try:
            title_replace = title.replace(' ', '+')
            split_title = title_replace.split('+(', maxsplit=1)
            title_part = split_title[0]
            year_part = split_title[1].replace(')', '')
            
            url = 'https://api.themoviedb.org/3/search/movie?query=' + title_part + '&year=' + year_part + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'
        except:
            url = 'https://api.themoviedb.org/3/search/movie?query=' + title + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'

        try:
            response = requests.get(url, headers=headers)
            data = response.json()

            # While data above is a dictionary, it contains more dictionaries within it, so narrow down
            movie_data = data['results'][0]
            print(i, movie_data['title'])
            franchise_dict_list.append(movie_data)
        except:
            failed_list.append(title)
            print(i, 'Failed fetching ', split_title[0], len(failed_list))
    return franchise_dict_list, failed_list

In [126]:
mcu_details_dict_list, mcu_missed = fetch_movie_details(mcu_movies_list)
franchise_details_df = pd.DataFrame(data=mcu_details_dict_list)
franchise_details_df.drop(columns=['adult', 'backdrop_path', 'original_language', 'original_title', 'overview', 'poster_path', 'video'], inplace=True)
franchise_movie_id_list = list(franchise_details_df['id'])
print(franchise_movie_id_list)

0 Iron Man
1 The Incredible Hulk
2 Iron Man 2
3 Thor
4 Captain America: The First Avenger
5 The Avengers
6 Iron Man 3
7 Thor: The Dark World
8 Captain America: The Winter Soldier
9 Guardians of the Galaxy
10 Avengers: Age of Ultron
11 Ant-Man
12 Captain America: Civil War
13 Doctor Strange
14 Guardians of the Galaxy Vol. 2
15 Spider-Man: Homecoming
16 Thor: Ragnarok
17 Black Panther
18 Avengers: Infinity War
19 Ant-Man and the Wasp
20 Captain Marvel
21 Avengers: Endgame
22 Spider-Man: Far From Home
23 Black Widow
24 Shang-Chi and the Legend of the Ten Rings
25 Eternals
26 Spider-Man: No Way Home
27 Doctor Strange in the Multiverse of Madness
28 Thor: Love and Thunder
29 Black Panther: Wakanda Forever
30 Ant-Man and the Wasp: Quantumania
31 Guardians of the Galaxy Vol. 3
32 The Marvels
[1726, 1724, 10138, 10195, 1771, 24428, 68721, 76338, 100402, 118340, 99861, 102899, 271110, 284052, 283995, 315635, 284053, 284054, 299536, 363088, 299537, 299534, 429617, 497698, 566525, 524434, 634649, 453395, 616037, 505642, 640146, 447365, 609681]

## Getting the characters in each movie

In [127]:
def get_chars_in_movie_id_list(franchise_movie_id_list):
    cast_dict_list = []
    dict_list = []
    for movie_id in franchise_movie_id_list:
        url = 'https://api.themoviedb.org/3/movie/' + str(movie_id) + '/credits?language=en-US'
        response = requests.get(url, headers=headers)
        data = response.json()
        cast_len = len(data['cast'])
        movie_id_dict = {'movie_id': movie_id}
        for cast in range(cast_len):
            new_cast = data['cast'][cast]
            new_cast.update(movie_id_dict)
            cast_dict_list.append(data['cast'][cast])
    franchise_cast_df = pd.DataFrame(data=cast_dict_list)
    franchise_cast_drop_df = franchise_cast_df.drop(columns=['adult', 'original_name', 'profile_path', 'credit_id', 'order', 'cast_id'])
    return franchise_cast_drop_df

In [129]:
franchise_cast_df = get_chars_in_movie_id_list(franchise_movie_id_list)
franchise_cast_details_merged = franchise_details_df.merge(franchise_cast_df, how='outer', left_on='id', right_on='movie_id')
franchise_cast_details_dropped = franchise_cast_details_merged[franchise_cast_details_merged['known_for_department']=='Acting']
franchise_cast_details_dropped

,genre_ids,id_x,popularity_x,release_date,title,vote_average,vote_count,gender,id_y,known_for_department,name,popularity_y,character,movie_id
0,"[878, 28, 12]",1724,67.236,2008-06-12,The Incredible Hulk,6.209,11432,2,819,Acting,Edward Norton,50.901,Bruce Banner / The Hulk,1724
1,"[878, 28, 12]",1724,67.236,2008-06-12,The Incredible Hulk,6.209,11432,1,882,Acting,Liv Tyler,52.299,Betty Ross,1724
2,"[878, 28, 12]",1724,67.236,2008-06-12,The Incredible Hulk,6.209,11432,2,3129,Acting,Tim Roth,38.323,Emil Blonsky / Abomination,1724
3,"[878, 28, 12]",1724,67.236,2008-06-12,The Incredible Hulk,6.209,11432,2,227,Acting,William Hurt,31.074,General 'Thunderbolt' Ross,1724
4,"[878, 28, 12]",1724,67.236,2008-06-12,The Incredible Hulk,6.209,11432,2,1462,Acting,Tim Blake Nelson,34.661,Samuel Sterns,1724
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,"[28, 12, 878]",640146,89.372,2023-02-15,Ant-Man and the Wasp: Quantumania,6.350,4678,1,1717900,Acting,Loveday Smith,8.793,Janet Van Dyne Acting Double,640146
2423,"[28, 12, 878]",640146,89.372,2023-02-15,Ant-Man and the Wasp: Quantumania,6.350,4678,0,3909172,Acting,John Townsend,0.129,Lord Krylar Acting Photo Double,640146
2424,"[28, 12, 878]",640146,89.372,2023-02-15,Ant-Man and the Wasp: Quantumania,6.350,4678,2,91606,Acting,Tom Hiddleston,43.531,Loki (uncredited),640146
2425,"[28, 12, 878]",640146,89.372,2023-02-15,Ant-Man and the Wasp: Quantumania,6.350,4678,2,887,Acting,Owen Wilson,73.075,Mobius M. Mobius (uncredited),640146
2426,"[28, 12, 878]",640146,89.372,2023-02-15,Ant-Man and the Wasp: Quantumania,6.350,4678,1,1360010,Acting,Abby Ryder Fortson,24.727,Cassie Lang (archive footage) (uncredited),640146

In [66]:
def get_first_word(s):
    # Strip leading/trailing whitespace and split the string
    words = s.strip().split()
    # Return the first word if the list is not empty, else return an empty string
    return words[0] if words else ''
get_first_word('Loki Laufeyson')

'Loki'

In [65]:
def get_first_two_words(s):
    # Strip leading/trailing whitespace and split the string
    words = s.strip().split()
    # Join and return the first two words if the list is not empty, else return an empty string
    return ' '.join(words[:2])

In [72]:
def find_movies(character_name):
    """
    Input: String of character name.
    Output: List of movies where the character is present in.
    """
    bool_series = mcu_cast_merged['character'].str.contains(character_name, na=False)
    if bool_series.any():
        index = bool_series[bool_series].index
        movies_per_char_df = mcu_cast_merged.loc[index]
        movies_per_char_df.drop_duplicates('id_x', inplace=True)
        movies_list_of_char = list(movies_per_char_df['title'])
        return movies_list_of_char
    return []

def movies_per_character(char):
    '''
    Input: String of character name.
    Output: List of movies where the character is present in.
    '''
    try:
        two_words = get_first_two_words(char)
        movies_list_of_char = find_movies(two_words)
    except:
        movies_list_of_char = []

    if not movies_list_of_char:
        try:
            first_word = get_first_word(char)
            movies_list_of_char = find_movies(first_word)
        except:
            movies_list_of_char = []

    return movies_list_of_char

In [73]:
movies_per_character('Peter Quill')

['Guardians of the Galaxy',
 'Guardians of the Galaxy Vol. 2',
 'Avengers: Endgame',
 'Avengers: Infinity War',
 'Guardians of the Galaxy Vol. 3',
 'Thor: Love and Thunder']

In [120]:
franchise_list_movies_df = mcu_df.copy()

for i in range(len(franchise_list_movies_df)):
    franchise_list_movies_df.loc[i, "movie"] = movies_per_character(str(franchise_list_movies_df.at[i, 'char']))

franchise_list_movies_df

# empty = franchise_list_movies_df[franchise_list_movies_df['movie']=='']
# empty

,char,movie,mbti
0,Loki Laufeyson,"[Thor, The Avengers, Thor: The Dark World, Tho...",INFJ
1,Tony Stark Iron Man,"[The Incredible Hulk, Iron Man 2, The Avengers...",ENTP
2,Wanda Maximoff Scarlet Witch,"[Avengers: Age of Ultron, Captain America: The...",INFP
3,Stephen Strange Doctor Strange,"[Doctor Strange, Thor: Ragnarok, Avengers: End...",INTJ
4,Thor Odinson,"[Thor, The Avengers, Thor: The Dark World, Ave...",ESTP
...,...,...,...
217,Julius Dell,[],ESTP
218,Dimitri Smerdyakov,[Spider-Man: Far From Home],ISTP
219,Leonard Samson,[The Incredible Hulk],INTP
220,Soren,"[Captain Marvel, Spider-Man: Far From Home]",ISFJ
221,Mitchell Carson,[Ant-Man],ESTP

In [96]:
mcu_responses = response_details_merge
mcu_responses

,id_x,person_mbti,mbti_test,character,movie,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,michaelcaloz.com,Tony Stark,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,michaelcaloz.com,Rocket Raccoon,Guardians of the Galaxy Vol. 3,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,michaelcaloz.com,Captain America,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,michaelcaloz.com,Peter Parker,Spider-Man: Far From Home,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,michaelcaloz.com,Hobie Brown,Spider-Man: Across the Spider-Verse,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,123,ENFP,michaelcaloz.com,Agent Smith,The Matrix,The Matrix,"[28, 878]",603,575.344,1999-03-31,The Matrix,8.215,24874
701,123,ENFP,michaelcaloz.com,Daniel Plainview,There Will Be Blood,There Will Be Blood,[18],7345,36.996,2007-12-26,There Will Be Blood,8.084,6345
702,123,ENFP,michaelcaloz.com,Eraserhead Baby,Eraserhead,Eraserhead,"[14, 27]",985,67.775,1978-02-03,Eraserhead,7.400,2300
703,123,ENFP,michaelcaloz.com,Patrick Bateman,American Psycho,American Psycho,"[53, 18, 80]",1359,84.339,2000-04-13,American Psycho,7.404,10461
704,123,ENFP,michaelcaloz.com,The Duke,Fear and Loathing in Las Vegas,Fear and Loathing in Las Vegas,"[12, 18, 35]",1878,43.774,1998-05-19,Fear and Loathing in Las Vegas,7.200,4433

In [181]:
# movie_list = pd.DataFrame({'movie': mcu_list})
# movie_list

# movie_list.to_csv('../data/Data - franchised movies.csv', index=False)