In [1]:
import requests
import json
import urllib.request
import pandas as pd
import ast

In [2]:
response_details_merge = pd.read_csv('../data/Data - respondents details merge.csv')
response_details_merge.drop(columns='Unnamed: 0', inplace=True)
response_details_merge

,id_x,person_mbti,mbti_test,character,movie,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,michaelcaloz.com,Tony Stark,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,michaelcaloz.com,Rocket Raccoon,Guardians of the Galaxy Vol. 3,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,michaelcaloz.com,Captain America,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,michaelcaloz.com,Peter Parker,Spider-Man: Far From Home,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,michaelcaloz.com,Hobie Brown,Spider-Man: Across the Spider-Verse,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,123,ENFP,michaelcaloz.com,Agent Smith,The Matrix,The Matrix,"[28, 878]",603,575.344,1999-03-31,The Matrix,8.215,24874
701,123,ENFP,michaelcaloz.com,Daniel Plainview,There Will Be Blood,There Will Be Blood,[18],7345,36.996,2007-12-26,There Will Be Blood,8.084,6345
702,123,ENFP,michaelcaloz.com,Eraserhead Baby,Eraserhead,Eraserhead,"[14, 27]",985,67.775,1978-02-03,Eraserhead,7.400,2300
703,123,ENFP,michaelcaloz.com,Patrick Bateman,American Psycho,American Psycho,"[53, 18, 80]",1359,84.339,2000-04-13,American Psycho,7.404,10461
704,123,ENFP,michaelcaloz.com,The Duke,Fear and Loathing in Las Vegas,Fear and Loathing in Las Vegas,"[12, 18, 35]",1878,43.774,1998-05-19,Fear and Loathing in Las Vegas,7.200,4433

In [5]:
try_df = response_details_merge.head(20)
try_df = try_df.drop(['mbti_test', 'movie'], axis=1)
try_df

,id_x,person_mbti,character,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,Tony Stark,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,Rocket Raccoon,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,Captain America,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,Peter Parker,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,Hobie Brown,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
5,0,ENFP,Peter Parker,The Amazing Spider-Man,"[28, 12, 878]",1930,138.079,2012-06-23,The Amazing Spider-Man,6.700,16878
6,0,ENFP,Celine,Before Sunrise,"[18, 10749]",76,46.182,1995-01-27,Before Sunrise,7.970,3946
7,0,ENFP,Jesse Wallace,Before Sunrise,"[18, 10749]",76,46.182,1995-01-27,Before Sunrise,7.970,3946
8,0,ENFP,Bella Baxter,Poor Things,"[878, 10749, 35]",792307,264.100,2023-12-07,Poor Things,7.792,3355
9,0,ENFP,Miles Morales,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
10,1,INTP,Johnny English,Johnny English,"[12, 28, 35]",9486,30.584,2003-03-14,Johnny English,6.276,3308
11,1,INTP,Tony Stark,Avengers: Infinity War,"[12, 28, 878]",299536,301.378,2018-04-25,Avengers: Infinity War,8.246,28876
12,1,INTP,"Captain Pete ""Maverick"" Mitchell",Top Gun: Maverick,"[28, 18]",361743,144.420,2022-05-21,Top Gun: Maverick,8.221,8587
13,1,INTP,Neo,The Matrix,"[28, 878]",603,575.344,1999-03-31,The Matrix,8.215,24874
14,1,INTP,Parzival (Wade Watts),Ready Player One,"[12, 28, 878]",333339,78.571,2018-03-28,Ready Player One,7.600,15069
15,1,INTP,Benoit Blanc,Glass Onion: A Knives Out Mystery,"[35, 80, 9648]",661374,89.459,2022-11-12,Glass Onion: A Knives Out Mystery,7.047,5137
16,1,INTP,Dr. Stephen Strange,Doctor Strange,"[28, 12, 14]",284052,436.230,2016-10-25,Doctor Strange,7.423,21583
17,1,INTP,J. Robert Oppenheimer,Oppenheimer,"[18, 36]",872585,746.474,2023-07-19,Oppenheimer,8.100,8026
18,1,INTP,Puss in Boots,Puss in Boots: The Last Wish,"[16, 12, 14, 35, 28, 10751]",315162,188.621,2022-12-07,Puss in Boots: The Last Wish,8.200,7256
19,1,INTP,Loki,Avengers: Infinity War,"[12, 28, 878]",299536,301.378,2018-04-25,Avengers: Infinity War,8.246,28876

In [6]:
characters_mbti_df = pd.read_csv('../data/Data - Movie Characters MBTI clean.csv')
# survey_responses_df.drop(columns='Unnamed: 0', inplace=True)
characters_mbti_df

                          char                   movie  mbti  votes
0                Guido Anselmi                   8 1/2  INTP     57
1      King Leonidas of Sparta                     300  ENTJ    460
2                    Artemisia                     300  ENTJ    127
3                       Xerxes                     300  INTJ    103
4                        Gorgo                     300  INFJ     62
...                        ...                     ...   ...    ...
10720                  Gazelle         Zootopia (2016)  ESFP    107
10721              Mr. Manchas         Zootopia (2016)  ISFJ     40
10722              Doug Ramses         Zootopia (2016)  INTP     30
10723                   Travis         Zootopia (2016)  ESTP     27
10724             Alexis Zorba  Zorba the Greek (1964)  ENFP     39

[10725 rows x 4 columns]

In [ ]:
recorded_chars = []
recorded_movies = []
missing_chars = []
missing_movies = []

# Define the column headers
columns = ['char', 'movie', 'mbti', 'votes']

# Create an empty DataFrame with only headers
new_df = pd.DataFrame(columns=columns)

def char_mbti_search(char_find, movie_find):
    bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
    if bool_series.any():
        index = bool_series.idxmax()  # Or use bool_series[bool_series].index for all matches
        print(index)
        recorded_chars.append(char_find)
        recorded_movies.append(movie_find)
        new_row = characters_mbti_df.loc[index]  
        return new_row
    else:
        # print(f"No match found for character '{char_find}' in movie '{movie_find}'")
        missing_chars.append(char_find)
        missing_movies.append(movie_find)
        return None

for i in range(len(response_details_merge)):
    char_i = str(response_details_merge['character'][i])
    movie_i = str(response_details_merge['movie'][i])
    # print(type(char_i), movie_i)
    new_row = char_mbti_search(char_i, movie_i)
    try:
        new_df = pd.concat([new_df, new_row.to_frame().T], ignore_index=True)
    except:
        pass

In [47]:
new_df

,char,movie,mbti,votes
0,Peter Parker “Spider-Man”,The Amazing Spider-Man Duology,ISTP,2700
1,Bella Baxter,Poor Things,ENTP,781
2,Johnny English,Johnny English (2003),ENTP,95
3,Neo,The Matrix Trilogy,INTP,1600
4,J. Robert Oppenheimer,Oppenheimer (2023),INTJ,2200
...,...,...,...,...
230,Neville Longbottom,Harry Potter / Wizarding World Films,ISFJ,1400
231,Miles Morales “Spider-Man”,Spider-Man: Into the Spider-Verse (2018),ISFP,3400
232,Agent Smith,The Matrix Trilogy,INTJ,584
233,Daniel Plainview,There Will Be Blood (2007),ENTJ,774
234,Patrick Bateman,American Psycho (2000),ENTJ,8100

In [8]:
print("found: ", len(recorded_chars))
print("not found:", len(missing_chars))

found:  235
not found: 470

In [ ]:
for i in range(len(recorded_chars)):
    print(recorded_chars[i], "  from  ", recorded_movies[i])

In [ ]:
for i in range(len(missing_chars)):
    print(missing_chars[i], "  from  ", missing_movies[i])

In [45]:
sample = char_mbti_search('Iron Man', 'MCU')
sample

new_df = pd.concat([new_df, sample.to_frame().T], ignore_index=True)

new_df

4969

                    char movie  mbti votes
0  Tony Stark “Iron Man”   MCU  ENTP  6500

In [51]:
def fun(s):
    c=0
    alpha="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz"
    etc="0123456789- "
    for i in s:
        if i in alpha or i in etc:
            c+=1
    if(c==len(s)):
        return True
    return False

In [58]:
mcu_chars = ['Loki Laufeyson',
            'Tony Stark â€œIron Manâ€',
            'Wanda Maximoff "Scarlet Witch"',
            'Stephen Strange "Doctor Strange"',
            'Thor Odinson',
            'Peter Parker / Spider-Man',
            'Steve Rogers "Captain America"',
            'Thanos',
            'Peter Quill "Star-Lord"',
            'Natasha Romanoff "Black Widow"']

mcu_mbti = ['INFJ',
            'ENTP',
            'INFP',
            'INTJ',
            'ESTP',
            'ENFP',
            'ISFJ',
            'INTJ',
            'ESFP',
            'ISTP',
            ]

retain_chars = 'a-zA-Z0-9\s\-'

mcu_df = pd.DataFrame({'char': mcu_chars, 'movie': 'MCU', 'mbti': mcu_mbti})
mcu_df['char'] = mcu_df['char'].str.replace(f'[^{retain_chars}]', '', regex=True)
mcu_df

                             char movie  mbti
0                  Loki Laufeyson   MCU  INFJ
1             Tony Stark Iron Man   MCU  ENTP
2    Wanda Maximoff Scarlet Witch   MCU  INFP
3  Stephen Strange Doctor Strange   MCU  INTJ
4                    Thor Odinson   MCU  ESTP
5        Peter Parker  Spider-Man   MCU  ENFP
6    Steve Rogers Captain America   MCU  ISFJ
7                          Thanos   MCU  INTJ
8           Peter Quill Star-Lord   MCU  ESFP
9    Natasha Romanoff Black Widow   MCU  ISTP

In [67]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYmMwMDBjMGE5YzZjZmNkMDYxYWIyN2EzMjA1YjM0NiIsInN1YiI6IjY2NDRlMzUzM2YwMGEzYTg5YjViZDFkMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._E0exiVUWU6c_FyyCeGdqQpaOM_tFDreyWlV6bmclPk"
}

## Getting the movie details

In [71]:
# movie_list = list(survey_responses_df['movie'])#[:10]
mcu_list = ['Iron Man (2008)', 'The Incredible Hulk (2008)', 'Iron Man 2 (2010)', 'Thor (2011)', 'Captain America: The First Avenger (2011)', 
            'The Avengers (2012)', 'Iron Man 3 (2013)', 'Thor: The Dark World (2013)', 'Captain America: The Winter Soldier (2014)',
            'Guardians of the Galaxy (2014)', 'Avengers: Age of Ultron (2015)', 'Ant-Man (2015)', 'Captain America: Civil War (2016)',
            'Doctor Strange (2016)', 'Guardians of the Galaxy Vol. 2 (2017)', 'Spider-Man: Homecoming (2017)',
            'Thor: Ragnarok (2017)', 'Black Panther (2018)', 'Avengers: Infinity War (2018)', 'Ant-Man and the Wasp (2018)',
            'Captain Marvel (2019)', 'Avengers: Endgame (2019)', 'Spider-Man: Far From Home (2019)', 'Black Widow (2021)',
            'Shang-Chi and the Legend of the Ten Rings (2021)', 'Eternals (2021)', 'Spider-Man: No Way Home (2021)',
            'Doctor Strange in the Multiverse of Madness (2022)', 'Thor: Love and Thunder (2022)', 'Black Panther: Wakanda Forever (2022)',
            'Ant-Man and the Wasp: Quantumania (2023)', 'Guardians of the Galaxy Vol. 3 (2023)', 'The Marvels (2023)'
]

mcu_dict_list = []
failed_list = []
for i, title in enumerate(mcu_list):
    try:
        title_replace = title.replace(' ', '+')
        split_title = title_replace.split('+(', maxsplit=1)
        title_part = split_title[0]
        # print('split title:', split_title[0])
        year_part = split_title[1].replace(')', '')
        # print('year:', year_part)
        
        url = 'https://api.themoviedb.org/3/search/movie?query=' + title_part + '&year=' + year_part + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'
        
    except:
        url = 'https://api.themoviedb.org/3/search/movie?query=' + title + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'
    
    # print(str(url))
    print(i, split_title[0])

    try:
        response = requests.get(url, headers=headers)
        data = response.json()

        # While data above is a dictionary, it contains more dictionaries within it, so narrow down
        movie_data = data['results'][0]
        print(i, movie_data['title'])
        mcu_dict_list.append(movie_data)
    except:
        failed_list.append(title)
        print('Failed', len(failed_list))
    print()
    
#     survey_responses_df.at[i, 'new_title'] = movie_data['title']
# survey_responses_df

split title: Iron+Man
year: 2008
0 Iron+Man
0 Iron Man

split title: The+Incredible+Hulk
year: 2008
1 The+Incredible+Hulk
1 The Incredible Hulk

split title: Iron+Man+2
year: 2010
2 Iron+Man+2
2 Iron Man 2

split title: Thor
year: 2011
3 Thor
3 Thor

split title: Captain+America:+The+First+Avenger
year: 2011
4 Captain+America:+The+First+Avenger
4 Captain America: The First Avenger

split title: The+Avengers
year: 2012
5 The+Avengers
5 The Avengers

split title: Iron+Man+3
year: 2013
6 Iron+Man+3
6 Iron Man 3

split title: Thor:+The+Dark+World
year: 2013
7 Thor:+The+Dark+World
7 Thor: The Dark World

split title: Captain+America:+The+Winter+Soldier
year: 2014
8 Captain+America:+The+Winter+Soldier
8 Captain America: The Winter Soldier

split title: Guardians+of+the+Galaxy
year: 2014
9 Guardians+of+the+Galaxy
9 Guardians of the Galaxy

split title: Avengers:+Age+of+Ultron
year: 2015
10 Avengers:+Age+of+Ultron
10 Avengers: Age of Ultron

split title: Ant-Man
year: 2015
11 Ant-Man
11 Ant-Man

split title: Captain+America:+Civil+War
year: 2016
12 Captain+America:+Civil+War
12 Captain America: Civil War

split title: Doctor+Strange
year: 2016
13 Doctor+Strange
13 Doctor Strange

split title: Guardians+of+the+Galaxy+Vol.+2
year: 2017
14 Guardians+of+the+Galaxy+Vol.+2
14 Guardians of the Galaxy Vol. 2

split title: Spider-Man:+Homecoming
year: 2017
15 Spider-Man:+Homecoming
15 Spider-Man: Homecoming

split title: Thor:+Ragnarok
year: 2017
16 Thor:+Ragnarok
16 Thor: Ragnarok

split title: Black+Panther
year: 2018
17 Black+Panther
17 Black Panther

split title: Avengers:+Infinity+War
year: 2018
18 Avengers:+Infinity+War
18 Avengers: Infinity War

split title: Ant-Man+and+the+Wasp
year: 2018
19 Ant-Man+and+the+Wasp
19 Ant-Man and the Wasp

split title: Captain+Marvel
year: 2019
20 Captain+Marvel
20 Captain Marvel

split title: Avengers:+Endgame
year: 2019
21 Avengers:+Endgame
21 Avengers: Endgame

split title: Spider-Man:+Far+From+Home
year: 2019
22 Spider-Man:+Far+From+Home
22 Spider-Man: Far From Home

split title: Black+Widow
year: 2021
23 Black+Widow
23 Black Widow

split title: Shang-Chi+and+the+Legend+of+the+Ten+Rings
year: 2021
24 Shang-Chi+and+the+Legend+of+the+Ten+Rings
24 Shang-Chi and the Legend of the Ten Rings

split title: Eternals
year: 2021
25 Eternals
25 Eternals

split title: Spider-Man:+No+Way+Home
year: 2021
26 Spider-Man:+No+Way+Home
26 Spider-Man: No Way Home

split title: Doctor+Strange+in+the+Multiverse+of+Madness
year: 2022
27 Doctor+Strange+in+the+Multiverse+of+Madness
27 Doctor Strange in the Multiverse of Madness

split title: Thor:+Love+and+Thunder
year: 2022
28 Thor:+Love+and+Thunder
28 Thor: Love and Thunder

split title: Black+Panther:+Wakanda+Forever
year: 2022
29 Black+Panther:+Wakanda+Forever
29 Black Panther: Wakanda Forever

split title: Ant-Man+and+the+Wasp:+Quantumania
year: 2023
30 Ant-Man+and+the+Wasp:+Quantumania
30 Ant-Man and the Wasp: Quantumania

split title: Guardians+of+the+Galaxy+Vol.+3
year: 2023
31 Guardians+of+the+Galaxy+Vol.+3
31 Guardians of the Galaxy Vol. 3

split title: The+Marvels
year: 2023
32 The+Marvels
32 The Marvels

In [73]:
mcu_details_df = pd.DataFrame(data=mcu_dict_list)
mcu_details_df.drop(columns=['adult', 'backdrop_path', 'original_language', 'original_title', 'overview', 'poster_path', 'video'], inplace=True)
mcu_details_df

,genre_ids,id,popularity,release_date,title,vote_average,vote_count
0,"[28, 878, 12]",1726,158.132,2008-04-30,Iron Man,7.644,25738
1,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428
2,"[12, 28, 878]",10138,438.602,2010-04-28,Iron Man 2,6.840,20449
3,"[12, 14, 28]",10195,86.832,2011-04-21,Thor,6.769,20642
4,"[28, 12, 878]",1771,61.189,2011-07-22,Captain America: The First Avenger,6.999,20908
5,"[878, 28, 12]",24428,184.395,2012-04-25,The Avengers,7.713,30034
6,"[28, 12, 878]",68721,288.102,2013-04-18,Iron Man 3,6.928,21681
7,"[28, 12, 14]",76338,87.117,2013-10-30,Thor: The Dark World,6.530,16870
8,"[28, 12, 878]",100402,45.627,2014-03-20,Captain America: The Winter Soldier,7.665,18281
9,"[28, 878, 12]",118340,64.892,2014-07-30,Guardians of the Galaxy,7.907,27428
10,"[28, 12, 878]",99861,120.591,2015-04-22,Avengers: Age of Ultron,7.272,22437
11,"[878, 28, 12]",102899,71.550,2015-07-14,Ant-Man,7.079,19268
12,"[12, 28, 878]",271110,148.022,2016-04-27,Captain America: Civil War,7.442,22169
13,"[28, 12, 14]",284052,436.230,2016-10-25,Doctor Strange,7.423,21586
14,"[878, 12, 28]",283995,89.797,2017-04-19,Guardians of the Galaxy Vol. 2,7.621,21031
15,"[28, 12, 878, 18]",315635,314.887,2017-07-05,Spider-Man: Homecoming,7.337,21213
16,"[28, 12, 878]",284053,434.357,2017-10-02,Thor: Ragnarok,7.593,20207
17,"[28, 12, 878]",284054,419.257,2018-02-13,Black Panther,7.385,21665
18,"[12, 28, 878]",299536,301.378,2018-04-25,Avengers: Infinity War,8.246,28880
19,"[28, 12, 878]",363088,65.029,2018-07-04,Ant-Man and the Wasp,6.941,12920
20,"[28, 12, 878]",299537,425.841,2019-03-06,Captain Marvel,6.824,15267
21,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24870
22,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.430,15147
23,"[28, 12, 878]",497698,253.400,2021-07-07,Black Widow,7.257,9802
24,"[28, 12, 14]",566525,108.803,2021-09-01,Shang-Chi and the Legend of the Ten Rings,7.559,9008
25,"[878, 28, 12]",524434,83.478,2021-11-03,Eternals,6.880,7949
26,"[28, 12, 878]",634649,229.906,2021-12-15,Spider-Man: No Way Home,7.967,19386
27,"[14, 28, 12]",453395,119.013,2022-05-04,Doctor Strange in the Multiverse of Madness,7.305,8624
28,"[14, 28, 35]",616037,214.156,2022-07-06,Thor: Love and Thunder,6.469,7159
29,"[28, 12, 878]",505642,232.408,2022-11-09,Black Panther: Wakanda Forever,7.129,6135
30,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675
31,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.971,6264
32,"[878, 12, 28]",609681,386.437,2023-11-08,The Marvels,6.146,2298

## Getting the characters in each movie

In [120]:
# url = "https://api.themoviedb.org/3/movie/346698/credits?language=en-US"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYmMwMDBjMGE5YzZjZmNkMDYxYWIyN2EzMjA1YjM0NiIsInN1YiI6IjY2NDRlMzUzM2YwMGEzYTg5YjViZDFkMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._E0exiVUWU6c_FyyCeGdqQpaOM_tFDreyWlV6bmclPk"
}
response = requests.get(url, headers=headers)

mcu_id_list = list(mcu_details_df['id'])
print(mcu_id_list)

cast_dict_list = []
dict_list = []
for movie_id in mcu_id_list:
    url = 'https://api.themoviedb.org/3/movie/' + str(movie_id) + '/credits?language=en-US'
    response = requests.get(url, headers=headers)
    data = response.json()
    cast_len = len(data['cast'])
    movie_id_dict = {'movie_id': movie_id}
    for cast in range(cast_len):
        new_cast = data['cast'][cast]
        new_cast.update(movie_id_dict)
        cast_dict_list.append(data['cast'][cast])

[1726, 1724, 10138, 10195, 1771, 24428, 68721, 76338, 100402, 118340, 99861, 102899, 271110, 284052, 283995, 315635, 284053, 284054, 299536, 363088, 299537, 299534, 429617, 497698, 566525, 524434, 634649, 453395, 616037, 505642, 640146, 447365, 609681]

In [121]:
mcu_cast_df = pd.DataFrame(data=cast_dict_list)
mcu_cast_drop_df = mcu_cast_df.drop(columns=['adult', 'original_name', 'profile_path', 'credit_id', 'order', 'cast_id'])
mcu_cast_drop_df

,gender,id,known_for_department,name,popularity,character,movie_id
0,2,3223,Acting,Robert Downey Jr.,87.067,Tony Stark / Iron Man,1726
1,2,18288,Acting,Terrence Howard,44.388,James 'Rhodey' Rhodes,1726
2,2,1229,Acting,Jeff Bridges,49.995,Obadiah Stane / Iron Monger,1726
3,1,12052,Acting,Gwyneth Paltrow,37.712,Virginia 'Pepper' Potts,1726
4,1,57451,Acting,Leslie Bibb,35.242,Reporter Christine Everhart,1726
...,...,...,...,...,...,...,...
2422,1,130640,Acting,Hailee Steinfeld,69.213,Kate Bishop,609681
2423,2,7090,Acting,Kelsey Grammer,28.765,Dr. Henry 'Hank' McCoy / Beast,609681
2424,1,2258733,Acting,Akira Akbar,19.315,Monica Rambeau (11 Years Old) (archive footage...,609681
2425,2,9642,Acting,Jude Law,56.678,Yon-Rogg (archive footage) (uncredited),609681
2426,1,516,Acting,Annette Bening,41.503,Dr. Wendy Lawson (archive footage) (uncredited),609681

In [122]:
mcu_cast_details_merged = mcu_details_df.merge(mcu_cast_drop_df, how='outer', left_on='id', right_on='movie_id')
mcu_cast_details_merged

,genre_ids,id_x,popularity_x,release_date,title,vote_average,vote_count,gender,id_y,known_for_department,name,popularity_y,character,movie_id
0,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,2,819,Acting,Edward Norton,52.197,Bruce Banner / The Hulk,1724
1,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,1,882,Acting,Liv Tyler,42.919,Betty Ross,1724
2,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,2,3129,Acting,Tim Roth,36.861,Emil Blonsky / Abomination,1724
3,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,2,227,Acting,William Hurt,27.191,General 'Thunderbolt' Ross,1724
4,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,2,1462,Acting,Tim Blake Nelson,28.783,Samuel Sterns,1724
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,1,1717900,Acting,Loveday Smith,6.783,Janet Van Dyne Acting Double,640146
2423,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,0,3909172,Acting,John Townsend,0.181,Lord Krylar Acting Photo Double,640146
2424,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,2,91606,Acting,Tom Hiddleston,52.657,Loki (uncredited),640146
2425,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,2,887,Acting,Owen Wilson,63.665,Mobius M. Mobius (uncredited),640146
2426,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,1,1360010,Acting,Abby Ryder Fortson,30.764,Cassie Lang (archive footage) (uncredited),640146

In [124]:
mcu_cast_details_merged['movie'].str.contains(movie_find)

                             char movie  mbti
0                  Loki Laufeyson   MCU  INFJ
1             Tony Stark Iron Man   MCU  ENTP
2    Wanda Maximoff Scarlet Witch   MCU  INFP
3  Stephen Strange Doctor Strange   MCU  INTJ
4                    Thor Odinson   MCU  ESTP
5        Peter Parker  Spider-Man   MCU  ENFP
6    Steve Rogers Captain America   MCU  ISFJ
7                          Thanos   MCU  INTJ
8           Peter Quill Star-Lord   MCU  ESFP
9    Natasha Romanoff Black Widow   MCU  ISTP